@font-face
{
    font-family: Cicle;
    src: url('fonts/Cicle_Fina.ttf');
}
*{
	margin:0;
	padding:0;
	

}
#header{
 	background-color:darkkhaki;
 	color:#FFFFFF;
 	
}
#header h1{
    text-align: center;
}
.barra{
    background-color: darkslategray;
    
}

a{
    text-decoration: none;
    color:orange;
}

#regist{display: inline-block;}
#capsa{
    display:inline-block;
    width:100%;
    height: 30px;
    
    font-size: 90%;
    font-variant: small-caps;
    background-color: darkslategray;
}
.menu ul {
    list-style-type: none;
    display: inline-block;
}
#capsa ul{list-style: none;text-align: right;background-color: darkslategray; display: inline-block;}
#capsa ul li{display: inline-block;}
#capsa ul li a{color:#FFF;text-decoration: none;};
#capsa ul li a:hover {color:#000;}

.ajax{
    float: right;
    
   
}
#capsa .ajax input[type=text],input[type=password]{
   width:10em;
   font-size:80%;
   background-color: darkkhaki;
   margin-top: 4px;
}
#capsa .ajax input[value]{
    color:grey;
}
#capsa .ajax input[type=submit]{
    background:no-repeat center darkkhaki;
    cursor:pointer;
    //width:40px;
    //border:2px solid darkcyan;
    //border-radius: 2px;
    margin-right: 10px;
    margin-top: 4px;
    padding-left:3px;
    padding-right: 3px;
    font-family:monospace;
    color:#FFFFFF;
}
body{
//	background-image:url('../img/bg.jpg');
	background-repeat:no-repeat;
	background-position:right top;
        font-family: Tahoma,sans-serif;
}
h1{
    padding:10px;
    font-family: Cicle;
    font-weight: bold;
}
h1 a{
    text-decoration: none;
    color:#FFFFFF;
}
#container{
	width:1100px;
	margin: auto;
	box-shadow: 3px 3px 3px #000;
}


#output{
    display:inline-block;
    height: 100%;
      
}

#content{
	background-color:#EEEEEE;
	height:450px;
	
}
#footer{
	background-color:darkkhaki;
        display: block;
        clear:both;
        text-align:center;
        height:30px;
        border:1px solid #bbdafa;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        vertical-align:middle;
      
}
#slide {
	alignment-adjust: central;
        text-align: center;
        border:1px solid #d1d1da;
	border-radius: 5px;
	margin:5px;
	height:98%;
	width:520px;
	float:left;
	box-shadow: 3px 3px 3px #000;
        display:inline-block;
}


#rlogin, #cistell{
    font-variant:common-ligatures;
    font-size:90%;
}
#rlogin p{
    display:inline-block;
}
#rlogin a{
    color:orange;
}
#rlogin a:hover{
    text-decoration: underline;
}
.cistell{
    
}

.cookie-banner{
    
    font-family: Verdana,sans-serif;
    font-size: 75%;
    width:100%;
    background-color: #333;
    position:fixed;
    top:0;
    float:none;
    clear:both;
    display:none;

}
.cookie-banner .container{
    margin:0 auto;
    width:70%;
    color:#f0f0f0;
    padding:15px;
}

.cookie-banner a{
    color:slategray;
}
.button{
    background:#ccc;
    color:#333;
    text-decoration: none;
    padding:5px 10px;
    margin:3px;
    border-radius:3px;
    display:inline-block;
    border:1px solid #aaa;
    border-bottom: 3px solid #aaa;
    
}
#imgload{
    display:none;
    
}
.buscador{
    font-family: Cicle;
    width: 90%;
    height: 400px;
    padding-left: 6px;
    
}


